.vs/
packages/
Server/App_Data/
Server/Areas/
Server/Content/
Server/bin/
Server/fonts/
Server/Migrations/
Server/obj/
Server/Properties/
Server/Providers/
Server/Results/
Server/Scripts/
Server/Views/
DesignPatterns.Services/obj/
DesignPatterns.Services/bin/
DesignPatterns.Services/Properties/
DesignPatterns/obj/
DesignPatterns/bin/
DesignPatterns/Properties/
DesignPatterns.Views/obj/
DesignPatterns.Views/bin/
DesignPatterns.Views/Properties/
DesignPatterns.ConsoleTest/obj/
DesignPatterns.ConsoleTest/bin/
DesignPatterns.ConsoleTest/Properties/
*.dll
*.pdb
*.suo
*.png
*.cache
*.user
*.exe
*.sln
*.ico
*.csproj
*.config
*.asax
*.asax.cs
